# [dbo].[CK]

In [0]:
USE [thanSoHoc]
GO

In [0]:
/****** Object:  Table [dbo].[CK]    Script Date: 06/04/2023 1:56:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SoCK] [nvarchar](50) NOT NULL,
	[ND] [nvarchar](500) NULL,
	[BienPhap] [nvarchar](500) NULL,
 CONSTRAINT [PK_CK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[QuanLy]

In [0]:
/****** Object:  Table [dbo].[QuanLy]    Script Date: 06/04/2023 1:56:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanLy](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaQL] [nvarchar](50) NOT NULL,
	[TenQL] [nvarchar](50) NOT NULL,
	[Ngay] [int] NOT NULL,
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[TK] [nvarchar](50) NOT NULL,
	[MK] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_QuanLy] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[soChuDao]

In [0]:
/****** Object:  Table [dbo].[soChuDao]    Script Date: 06/04/2023 1:56:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[soChuDao](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SoCD] [nvarchar](50) NULL,
	[NDCD] [nvarchar](500) NULL,
	[power] [nvarchar](500) NULL,
 CONSTRAINT [PK_soChuDao] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Thongtin]

In [0]:
/****** Object:  Table [dbo].[Thongtin]    Script Date: 06/04/2023 1:56:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thongtin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDUser] [int] NULL,
	[CungHD] [nvarchar](50) NULL,
	[IDSCD] [int] NULL,
	[IDTinhCach] [int] NULL,
 CONSTRAINT [PK_Thongtin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[tinhCach]

In [0]:
/****** Object:  Table [dbo].[tinhCach]    Script Date: 06/04/2023 1:56:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tinhCach](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[phanLoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_tinhCach] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Users]

In [0]:
/****** Object:  Table [dbo].[Users]    Script Date: 06/04/2023 1:56:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaUser] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Ngay] [int] NOT NULL,
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[Sex] [nvarchar](10) NOT NULL,
	[SDT] [int] NULL,
	[TK] [nvarchar](50) NOT NULL,
	[MK] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[xemChiTiet]

In [0]:
/****** Object:  Table [dbo].[xemChiTiet]    Script Date: 06/04/2023 1:56:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xemChiTiet](
	[ID] [nchar](10) NULL,
	[IDThongTin] [nchar](10) NULL,
	[IDTinhCach] [nchar](10) NULL,
	[IDCK] [nchar](10) NULL,
	[IDSCD] [nchar](10) NULL
) ON [PRIMARY]
GO